$primary: #e5c500;
$body-bg: #dddddd;
$dark: #363636;
$navbar-dark-color: white;

$main-content-margin-top: 0px;

@import "../../../../mainapp/assets/css/mainapp";

article {
    text-align: justify;
}

img.profile-picture {
    width: 100%;
}

#main-content {
    .container {
        // min-height: calc(100vh - #{$header-height} - #{$footer-height} - 2 * #{$main-content-margin-top});
        background-color: white;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.index-v2 {
    .home-container {
      padding: $index-section-default-padding 0;
    }
  
    .home-container-title {
      align-items: top;
  
      background-image: url('../images/rathaus.jpg');
      background-size: 100%;
    }
  
    .home-container-search {
      background-color: $primary;
    }
  }
  
  
