<h2>Welche Daten erfassen wir von Ihnen?</h2>
<h4>1. Protokollierung von Seitenaufrufen</h4>

<p>
	Aufrufe dieser Seite werden vom Server von {{ settings.TEMPLATE_META.site_name }} mitprotokolliert.
</p>
<p>
	Im Einzelnen werden über jeden Zugriff/Abruf folgende Daten gespeichert:

	<ul>
		<li>Datum und Uhrzeit des Abrufs (Zeitstempel)</li>
		<li>Anfragedetails und Zieladresse (Protokollversion, HTTP-Methode, Referrer, UserAgent-String)</li>
		<li>Name der abgerufenen Datei und übertragene Datenmenge (angefragte URL inkl. Query-String, Größe in Byte)</li>
		<li>Meldung, ob der Abruf erfolgreich war (HTTP Status Code)</li>
		<li>Anonymisierte IP Adresse des Nutzers</li>
	</ul>

	Die Logdateien werden 1 Jahr vorgehalten.
</p>


<h4>2. E-Mail-Benachrichtigungen</h4>
<p>Wir bieten die Möglichkeit, sich per E-Mail über neue Anträge, Dokumente oder andere Ereignisse
    informieren zu lassen. Dazu benötigen wir neben Ihrer E-Mail-Adresse die Bestätigung, dass Sie
    der Inhaber der angegebenen Email-Adresse sind und mit dem Empfang der Benachrichtigungen
    einverstanden sind. Dies überprüfen wir, indem bei der ersten eingerichteten Benachrichtigung
    eine Bestätigungs-E-Mail an die angegebene Adresse geschickt wird. Sie müssen den darin
    angegebenen Link anklicken oder auf der Website den in der E-Mail angebenenen Bestätigungscode
    eingeben. Der Bestätigungscode ist gleichzeitig das anfängliche Passwort, das verwendet werden
    kann, um weitere Benachrichtigungen hinzufügen bzw. wieder entfernen zu können. Es kann auch
    nachträglich geändert werden.</p>
<p>Die E-Mail-Adresse wird nur erhoben, um Ihnen die Benachrichtigungen zuschicken zu können. Um
    unsere Berechtigung zum Versand der Benachrichtigung dokumentieren zu können, wird außerdem der
    Zeitpunkt und die IP-Adresse der Bestätigung des Erhalts besagter ersten E-Mail gespeichert.
    Eine Weitergabe der Daten an Dritte erfolgt nicht. Die Bestellung des Newsletters und Ihre
    Einwilligung zur Speicherung der E-Mail-Adresse können Sie jederzeit widerrufen, beispielsweise
    duch Aufruf des "Abbestellen"-Links in jeder E-Mail-Benachrichtigung oder einfach per E-Mail an
    die im Impressum angegebene E-Mail-Adresse.</p>

<h4>3. Weitere Daten erheben wir nicht.</h4>

<h2>Auf welche Weise erheben wir Ihre Daten?</h2>
<p>
	Die Daten, die wir bei jedem Zugriff erheben, protokollieren wir automatisiert und anonymisiert.
	Eine Zuordnung dieser Daten zu einer bestimmten natürlichen Person ist nicht möglich.
</p>

<h2>Wofür nutzen wir Ihre Daten?</h2>
<ul>
	<li>Ausschließlich für die Bereitstellung, Optimierung und zur Wahrung der Sicherheit unseres Internetangebots.</li>
	<li>Für die Registrierung auf aachen-transparent und den anschließenden Versand der Emails für benutzerdefinierte Suchen.
</ul>

<h2>Wir nutzen Ihre Daten nicht</h2>
<ul>
	<li>zur Profilbildung</li>
	<li>für Werbung</li>
	<li>zur Weitergabe an Dritte, außer zur Verfolgung rechtlicher Interessen, insbesondere wenn die Daten im Zusammenhang mit einem Angriff auf unsere IT-Infrastruktur stehen	</li>
</ul>

<h2>Welche Rechte haben Sie?</h2>
<ol>
	<li>Auskunft über Ihre bei uns gespeicherten Daten</li>
	<li>Berichtigung Ihrer bei uns gespeicherten Daten</li>
	<li>Löschung Ihrer bei uns gespeicherten Daten</li>
	<li>Einschränkung der Verarbeitung Ihrer bei uns gespeicherten Daten</li>
	<li>Widerspruch gegen die Speicherung Ihrer Daten</li>
	<li>Recht auf Beschwerde bei der für das BVA zuständigen Aufsichtsbehörde</li>
</ol>


<h2>Ihre Ansprechpartner</h2>

<h4>Verantwortlicher im Sinne der DSGVO</h4>
<p>
	Steffen Vogel<br>
	52064 Aachen<br>
	<b>Telefon:</b> +49(0)157 57180927<br>
	<b>E-Mail:</b> info@aachen-transparent.de<br>
</p>

<h4>Zuständige Aufsichtsbehörde</h4>
<p>
	Der Bundesbeauftragte für den Datenschutz und die Informationsfreiheit<br>
	Husarenstraße 30<br>
	53117 Bonn<br>
	Telefon: +49(0)228-997799-0<br>
	Fax: +49(0)228-997799-5550<br>
	E-Mail: poststelle@bfdi.bund.de<br>
</p>

<h2>Webanalyse-Software Matomo</h2>
<p>
	Zur statistischen Auswertung setzt aachen-transparent.de in diesem Internetangebot die Software "Matomo" ein, eine Open-Source-Lösung zur Web-Analyse.
	Mit "Matomo" werden keine Daten an Server übermittelt, die außerhalb der Kontrolle des Betreibers von aachen-transparent.de liegen.
	aachen-transparent.de versteht diese Analyse als Bestandteil seines Internet-Services.
	Wir möchten damit das Internetangebot noch weiter optimieren und somit noch mehr an die Bedürfnisse der Nutzerinnen und Nutzer anpassen.
	Sie können die Verwendung der “Cookies” durch eine entsprechende Einstellung Ihrer Browser-Software verhindern. Es ist jedoch möglich, dass Sie in diesem Fall nicht sämtliche Funktionen dieses Internetangebots in vollem Umfang nutzen können.
</p>

<h2>Widerruf der Datenerfassung durch Matomo</h2>
<p>
	Matomo unterstützt das "Nicht-Verfolgen-Verfahren" ("Do Not Track") aktueller Webbrowser.
	Wenn Sie die Analyse Ihres Verhaltens im Internet generell unterbinden wollen, empfehlen wir Ihnen, diese Option in Ihrem Browser zu aktivieren.
</p>

<h2>Einsatz von Cookies</h2>
<p>Cookies sind Datensätze, die vom Webserver an den Browser geschickt und dort für einen späteren
    Abruf gespeichert werden. Ein Cookie wird gesetzt, wenn Sie die E-Mail-Benachrichtigungsfunktion
    nutzen, um die verwendete E-Mail-Adresse zwischenzuspeichern (damit Sie nicht bei jedem
    Hinzufügen / Entfernen einer Benachrichtigung die E-Mail-Adresse und das verbundene Passwort
    erneut eingeben müssen). Beim Schließen des Browsers wird das Cookie wieder gelöscht.</p>
<p>Inbesondere werden keine Cookies für die Datenerfassung via Matomo eingesetzt.</p>

<h2>Datensicherheit</h2>
<p>Der Datenverkehr zwischen Ihrem Browser und unserem Server wird grundsätzlich per HTTPS
    verschlüsselt und ist damit weitgehend vor dem Abhören dazwischen und
    Man-In-The-Middle-Angriffen sicher.</p>
<p>Das vergebene Passwort, um neue Benachrichtigungen zu einer E-Mail-Adresse hinzufügen oder
    entfernen zu können, wird nur in Form eines One-Way-Hashes gespeichert, sodass es nicht möglich
    ist, daraus das ursprüngliche Passwort zu rekonstruieren.</p>
<p>Die Server stehen innerhalb von Deutschland.</p>
